body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

.pageslot {
  height: 600px;
  width: 100%;
  background-color: #4e4e4e;
}

/*p {
  font-size: 10px;
}*/
